<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css"/>
        <title>Dojo Survey</title>
    </head>
    <body>
    <div class="form-group">
        <form action="/result" method="POST">
            Your Name: <input type="text" name="yourName" placeholder="Your Name"><br><br>
            Dojo Location: <select name="location" id="">
                <option value="Berkeley">Berkeley</option>
                <option value="Chicago">Chicago</option>
                <option value="Dallas">Dallas</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="Orange County">Orange County</option>
                <option value="Seattle">Seattle</option>
                <option value="Silicon Valley">Silicon Valley</option>
                <option value="Tulsa">Tulsa</option>
                <option value="Washington DC">Washington DC</option>
            </select><br><br>
            Favorite Language: <select name="favLang" id="">
                <option value="Python">Python</option>
                <option value="JavaScript">JavaScript</option>
                <option value="C#">C#</option>
                <option value="MEAN">MEAN</option>
                <option value="Java">Java</option>
            </select><br><br>
            Anything else we should know?<br><br>
            <textarea name="addlComm" id="" cols="30" rows="10" placeholder="This is optional"></textarea><br><br>
            <input type="submit" value="Let us know!">
        </form>
    </div>
    </body>
</html>